.Pokecard {
  border: 2px solid mediumseagreen;
  /* width: 300px; */
  padding: 30px;
  margin: 12 rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  background-color: white;
  border-radius: 5px;
  margin-bottom: 2rem;
}
